# PostgreSQL
POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

# Redis
REDIS_PORT=6379
REDIS_URL=redis://redis:${REDIS_PORT}/0

# Celery
CELERY_BROKER_URL=redis://redis:${REDIS_PORT}/0
CELERY_RESULT_BACKEND=redis://redis:${REDIS_PORT}/0

# App
APP_PORT=8000
